<div th:fragment="form">
    <div class="modal fade" id="formAnime" tabindex="-1" role="dialog" aria-labelledby="Form" aria-hidden="true" style="padding-bottom: 0px;">
        <div class="modal-dialog" role="document">
            <form method="POST" th:object="${anime}"
                  th:action="@{/animes}" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header p-3 mb-2 bg-dark text-white">
                        <h5 class="modal-title" id="exampleModalLabel">New Anime</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="id" th:field="*{id}" />
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input th:field="*{name}" type="text" class="form-control" id="name"></input>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea th:field="*{description}" class="form-control" id="description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="genre">Genre</label>
                            <input th:field="*{genre}" type="text" class="form-control" id="genre"></input>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="numberOfEpisodes">Episodes</label>
                                <input th:field="*{numberOfEpisodes}" type="number" min="0" class="form-control" id="numberOfEpisodes"></input>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="numberOfSeasons">Seasons</label>
                                <input th:field="*{numberOfSeasons}" type="number"
                                       min="0" class="form-control"
                                       id="numberOfSeasons"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="file">Photo</label>
                            <input name="file" type="file" class="form-control-file" id="file"></input>
                        </div>
                    </div>
                    <div class="modal-footer p-3 mb-2 bg-dark text-white">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>