<div th:fragment="form">
    <div class="modal fade" id="formCharacter" tabindex="-1" role="dialog" aria-labelledby="Form" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form method="POST" th:object="${character}"
                  th:action="@{/characters}" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header p-3 mb-2 bg-dark text-white">
                        <h5 class="modal-title" id="exampleModalLabel">New Character</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input th:field="*{name}" type="text" class="form-control" id="name"></input>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea th:field="*{description}" class="form-control" id="description" rows="3"></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="anime">Anime</label>
                            <select th:field="*{anime}" id="anime" class="form-control">
                                <option selected="selected" value="">
                                    Choose...
                                </option>
                                <option th:each="a : ${animes}"
                                        th:value="${a.id}" th:text="${a.name}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="favoriteFood">Favorite Food</label>
                            <input th:field="*{favoriteFood}" type="text" class="form-control" id="favoriteFood"></input>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="height">Height</label>
                                <input th:field="*{height}" type="text" min="0" pattern="[0-9]*\.[0-9]{1,2}" class="form-control" id="height"></input>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="weight">Weight</label>
                                <input th:field="*{weight}" type="text" min="0" pattern="[0-9]*\.[0-9]{1,2}" class="form-control" id="weight"></input>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="age">Age</label>
                                <input th:field="*{age}" type="number" min="0" class="form-control" id="age"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="file">Photo</label>
                            <input name="file" type="file" class="form-control-file" id="file"></input>
                        </div>
                    </div>
                    <div class="modal-footer p-3 mb-2 bg-dark text-white">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>