<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout-padrao">

    <div layout:fragment="conteudo">
        <div class="panel panel-default" style="margin: 10px">
            <div class="panel-heading">
                <h1 class="panel-title">Lista de Animes</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Episódios</th>
                            <th>Temporadas</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="anime : ${animes}">
                            <td>
                                <img th:src="@{'/images/anime/' + ${anime.photo}}"
                                     th:alt="${anime.name}"
                                     width="100px" height="100px"></img>
                            </td>
                            <td>
                                <a th:href="@{/animes/show/}+${anime.id}">
                                    <span th:text="${anime.name}"></span>
                                </a>
                            </td>
                            <td th:text="${anime.numberOfEpisodes}"></td>
                            <td th:text="${anime.numberOfSeasons}"></td>
                            <td>
                                <a th:href="@{/animes/update/}+${anime.id}" 
                                    class="btn btn-warning btn-sm text-white active">
                                    update
                                </a>
                                <a href="" class="btn btn-danger btn-sm active"
                                   data-toggle="modal" data-target="#confirmaExclusaoModal"
                                   data-placement="top"
                                   th:attr="data-id=${anime.id}, data-name=${anime.name}, data-model='anime'">
                                    delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="" class="btn btn-success btn-sm active" data-toggle="modal"
                    data-target="#formAnime" data-placement="top">
                    New
            </a>
            <div th:replace="fragments/form-anime :: form"></div>
            <div  th:replace="fragments/exclusao :: exclusao"></div>
        </div>
    </div>
</html>