<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout-padrao">

    <div layout:fragment="conteudo">
        <div class="panel panel-default" style="margin: 10px">
            <div class="panel-heading">
                <h1 class="panel-title">Lista de personagens</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Altura</th>
                            <th>Anime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="character : ${characters}">
                            <td th:text="${character.photo}"></td>
                            <td>
                                <a th:href="@{/characters/show/}+${character.id}">
                                    <span th:text="${character.name}"></span>
                                </a>
                            </td>
                            <td th:text="${character.height}"></td>
                            <td th:text="${character.anime}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="" class="btn btn-success btn-sm active" data-toggle="modal"
                    data-target="#formCharacter" data-placement="top">
                    New
            </a>
            <div th:replace="fragments/form :: form"></div>
        </div>
    </div>
</html>